/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pehlevi';
  src: url('Pehlevi-Regular.eot');
  src: local('Pehlevi Regular'), local('Pehlevi-Regular'),
      url('./fonts/Pehlevi-Regular.woff2') format('woff2'),
      url('./fonts/Pehlevi-Regular.woff') format('woff'),
      url('./fonts/Pehlevi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  height: 600px;
  background-image: url(images/background.png);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  min-height:685px;/*правильно??*/
  margin: 0 auto;
   position: relative; 
}

 h1 {
  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 105px;
  letter-spacing: 0.1em;
  left: 52px;
  top:452px;
  color: #FFFFFF;
  background-color: #FF0000}


h2 {
  font-family: Sacramento;
  font-style: normal;     
  font-weight: normal;
  font-size: 30px;
  line-height: 55px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  top:485px;
  right: 100px;
  color: #FFFFFF;
  /* background-color: #87EA00; */
}

.menu{
  display: flex;
  justify-content: center; 
  top: 30px;
  font-size: 20px;
  font-weight:normal;
  background-color: #70E500;
}

li {
  display: inline;
  margin: 0 50px;
}

/*.logo {
  width: 198px;
  height: 200px;
  left: 42px;
  top:290px;
  background-color: #FFD500;
}*/

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 150px;
}
.sidebar_item{
	cursor: pointer;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
  margin: 20px;
  font-family: "Pehlevi";
}

.sidebar_item:hover{
	background-color: #7cfc00;
	border-radius: 4px;
}

a {	
	color:#000000;
	text-decoration: none;
}

.text{
  right:100px;
  left: 300px;
  top:660px;
}


/*
Стили блоков
================ 
*/

/* Стиль header */
.nav{
background-color: #FFFFFF;
margin-bottom:50px;
}

.header-container {
  display: flex;
  margin-top: 400px;
}

.heading{
  width: 30%;
}

.inscription{
  background-color: #FFF444;
  width: 70%; 
}

 /*@media screen and (max-device-width: 1024px) {
      .nav {display: none;}                         медиазапрос-исчезающее меню*/  
 