/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 600px;
  background-image: url(images/background.png);
  }

.container {
  max-width: 1200px;
  min-height:685px;/*правильно??*/
  margin: 0 auto; 
}

 h1 {
  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 105px;
  letter-spacing: 0.1em;
  left: 52px;
  position: absolute;
  top:452px;
  color: #FFFFFF;
}

h2 {
  font-family: Sacramento;
  font-style: normal;     
  font-weight: normal;
  font-size: 30px;
  line-height: 55px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  position: absolute;
  top:485px;
  right: 30px;
  color: #FFFFFF;

  }

.menu{
  display: flex;
  justify-content: center;
  position: relative; 
  top: 30px;
  font-size: 20px;
  font-weight:normal;
}

li {
  display: inline;
  margin: 0 50px;
}

.logo {
  width: 198px;
  height: 200px;
  left: 42px;
  position: absolute;
  top:290px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 150px;
}
.sidebar_item{
	cursor: pointer;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	margin: 20px;
}
.sidebar_item:hover{
	background-color: #7cfc00;
	border-radius: 4px;
}
a{	
	color:#000000;
	text-decoration: none;
}