/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 600px;
  background-image: url(images/background.png);
  }

.container {
  max-width: 1200px;
  min-height:685px;/*правильно??*/
  margin: 0 auto; 
}

h2 {
  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 105px;
  letter-spacing: 0.1em;
  /* border: 3px solid #FFEFEF;*/
}

h1 {
  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 55px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
}

.menu_1{
  display: flex;
  justify-content: center;
}
.menu_2{
  display: flex;
  justify-content: center;
}

li {
  display: inline;
  margin: 0 50px;
}

.logo {
  width: 198px;
  height: 206px;
  left: 82px;
  top: 322px;
}

.banner{
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}
.sidebar_item{
	cursor: pointer;
	font-size: 18px;
}

}
.sidebar_item :hover{
	background-color: #00FF00;
	border-radius: 4px;

}
}